.vertical_panel{
    -fx-background-color: #292883;
    /* -fx-border-color:#2207bb; */
    -fx-border-width: 2px 2px 2px 2px;
    /* -fx-border-radius: 10px;
    -fx-background-radius:10px; */
    /* -fx-border-style:solid; */
}

.inner_panel{
    -fx-background-color: #E584F5;
    /* -fx-border-color:#2207bb; */
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius:10px;
}

.button{
    
}